.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  background-color: #fef7ec;
  padding: 40px 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.background {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-image: url(../assets/images/alugarCaminhao.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.container {
  width: 100%;
  max-width: 480px; 
  background-color: rgba(255, 250, 230, 0.95);
  border-radius: 20px;
  padding: 24px;
  padding-bottom: 24px;
  margin: 20px auto;
  box-shadow: 6px 6px 0px #ffcc00; 
  border: 3px solid #ffcc00;
  z-index: 2;
  position: relative;
}


.title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
  color: #ff6600;
  text-shadow: 1px 1px #ffe082;
}

.mensagem {
  text-align: center;
  color: #333;
  margin-bottom: 16px;
  font-weight: bold;
}

.caminhaoInfo {
  border: 2px solid #ffd54f;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: #fff8e1;
  color: #444;
  box-shadow: 4px 4px 0px #ffb300;
}

.caminhaoInfo h3 {
  margin-bottom: 8px;
  color: #ff6f00;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

input {
  padding: 10px 12px;
  background-color: #fffef9;
  border: 2px solid #ffe082;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #ffb300;
  outline: none;
  background-color: #fff7de;
}

input[readonly] {
  background-color: #fff3cd;
  color: #555;
}

.button {
  margin-top: 12px;
  padding: 12px 20px;
  background: linear-gradient(135deg, #ff6600, #ffcc00);
  color: white;
  border: 2px solid #ff9900;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 4px 4px 0px #e65100;
}

.button:hover {
  background-color: #e65c00;
  transform: scale(1.03);
  box-shadow: 6px 6px 0px #e65100;
}

.voltarBtn {
  margin-left: 15px;
  margin-top: 20px;
  padding: 12px 24px;
  background: linear-gradient(135deg, #ffff22, #ff0798); 
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 6px 18px rgba(255, 87, 34, 0.4);
  position: relative;
  overflow: hidden;
}

.voltarBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-25deg);
  transition: 0.5s;
}

.voltarBtn:hover::before {
  left: 125%;
}

.voltarBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 24px rgba(255, 87, 34, 0.6); 
}


@media (max-width: 480px) {
  .voltarBtn {
    width: 100%;
    padding: 12px;
    font-size: 0.95rem;
  }
}
