.voltarBtn {
    margin-top: 30px;
    padding: 12px 24px;
    background: linear-gradient(135deg, #ffff22, #ff0798); /* laranja queimado para amarelo vivo */
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 6px 18px rgba(255, 87, 34, 0.4); /* sombra na cor laranja */
    position: relative;
    overflow: hidden;
  }
  
  .voltarBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-25deg);
    transition: 0.5s;
  }
  
  .voltarBtn:hover::before {
    left: 125%;
  }
  
  .voltarBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 24px rgba(255, 87, 34, 0.6); /* sombra mais forte ao hover */
  }
  