.voltarBtn {
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #ecf0f1;
    color: #333;
    border: 1px solid #bdc3c7;
    box-shadow: none;
    font-weight: 500;
    transition: background-color 0.2s ease;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.1rem;
  }
  
  .voltarBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-25deg);
    transition: 0.5s;
  }
  
  .voltarBtn:hover::before {
    left: 125%;
  }
  
  .voltarBtn:hover {
    background-color: #dadedf;
    transform: none;
    box-shadow: none;
  }
  